<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<metacharset="utf-8">
		<title>Espèces</title>
</head>

<body>
	<form th:object="${species}" th:action="@{/species}" method="post"><input type="hidden" th:field="*{id}" />
		<div class="form-group">
			<label for="commonName">Nom Commun : </label><input type="text" th:field="*{commonName}" id="commonName"
				class="form-control" />
			<span th:if="${#fields.hasErrors('commonName')}" th:errors="*{commonName}">Error</span>
		</div>
		<div class="form-group">
			<label for="latinName">Nom latin :</label><input type="text" th:field="*{latinName}" id="latinName"
				class="form-control" />
			<span th:if="${#fields.hasErrors('latinName')}" th:errors="*{latinName}">Error</span>
		</div>
		<div>
			<input type="submit" value="Sauver" class="btn btn-primary" />
			<input type="button" value="Retour" class="btn btn-danger" onclick="window.location='/species'" />
		</div>
	</form>
</body>