<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<metacharset="utf-8">
		<title>Animal</title>
</head>

<body>
	<h1>Détails de l'animal</h1>
	<form th:object="${animal}" th:action="@{/animal}" method="post"><input type="hidden" th:field="*{id}" />
		<table class="table">
			<tr>
				<th>Nom :</th>
				<td><input type="text" th:field="*{name}" id="name" class="form-control" /></td>
			</tr>
			<tr>
				<th>Couleur :</th>
				<td><input type="text" th:field="*{color}" id="color" class="form-control" /></td>
			</tr>
			<tr>
				<th>Sexe :</th>
				<td>
					<select th:field="*{sex}" id="sex" class="form-control">
						<option th:each="sex:${sexs}" th:value="${sex}" th:text="${sex.label}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<th>Espèce :</th>
				<td>
					<select th:field="*{species}" id="species" class="form-control">
						<option th:each="sp:${speciesList}" th:value="${sp.id}" th:text="${sp.commonName}"></option>
					</select>
				</td>
			</tr>
		</table>
		<input type="submit" class="btn btn-primary" value="Sauver" />
	</form>
	<div>
		<input type="button" class="btn btn-danger" value="Retour" onclick="window.location='/animal'" />
	</div>
</body>